h1 {
    text-align: center;
    color: red;
}

#output-container {

}

.content {
    text-align: center;
}

.main-pokemon-card {
    margin-top: 1.5em;
    margin-left: 1em;
    border-style: double;
}

.pokemon-card {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-style: double;
}

.main-pokemon-img {
    height: 6em;
    width: 6.5em;
    cursor: pointer;
}

.pokemon-img {
    height: 15em;
    width: 16.5em;
}

.view-btn {
    /*display: flex;*/
    /*justify-content: center;*/
}