h1 {
    text-align: center;
    /*color: red;*/
}

.main-header{
    width: 20em;
    height: 7em;
    cursor: pointer;
}

#output-container {

}

.content {
    text-align: center;
}

.main-pokemon-card {
    margin-top: 1.5em;
    margin-left: 1em;
    /*border-style: double;*/
    cursor: pointer;
}

.view-pokemon-card {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    /*border-style: double;*/
    cursor: pointer;
}

.favorite-pokemon-card {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    /*border-style: double;*/
    /*cursor: pointer;*/
}

.main-pokemon-img {
    height: 8em;
    width: 8.5em;
}

.view-pokemon-img {
    height: 15em;
    width: 16.5em;
}

.pokemon-name {
    font-size: 20px;
    font-style: italic;
    /*font-weight: bold;*/
}

.view-pokemon-name {
    font-size: 28px;
    font-style: italic;
}

.pokemon-number {
    font-weight: lighter;
}

.favorites-header {
    font-family: Copperplate, serif;
    font-weight: lighter;
}